/* ============================================
   REELS.CSS - MODULAR IMPORT SYSTEM
   ============================================ */
/* Import REELS-specific components */
@import url('reels/accessebility-performance.css');
@import url('reels/animation.css');
@import url('reels/auth-req.css');
@import url('reels/card.css');
@import url('reels/filter.css');
@import url('reels/grid-ad-section.css');
@import url('reels/loading.css');
@import url('reels/modal.css');
@import url('reels/notification.css');
@import url('reels/playlist-Modal.css');
@import url('reels/responsive.css');
@import url('reels/notification.css');
@import url('reels/theme.css');


/* ============================================
   MAIN LAYOUT ADJUSTMENTS
   ============================================ */
body {
    padding-top: 70px; /* Account for fixed nav */
}





