        .panel-content {
            display: none;
        }

        .panel-content.active {
            display: block;
        }

        .sidebar-link.active {
            background-color: var(--sidebar-active-bg);
            color: var(--sidebar-active-color);
            font-weight: 600;
        }

        .sidebar-nav {
            display: flex;
            flex-direction: column;
            height: 100%;
        }